# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
c.execute(' SELECT e.firstNAME, e.lastNAME FROM employees e JOIN offices o USING(officeCode) WHERE o.city = "Boston"; ').fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?

In [3]:
#Your code here
c.execute('SELECT o.city FROM offices o LEFT JOIN employees e USING(officeCode) where e.officeCode IS NULL;').fetchall()

[]

## Write 3 Questions of your own and answer them

In [4]:
# Answers will vary
# 1. Which Customer has placed the most orders?
# 2. Which Customer has sent in the most money in payments?
# 3. Which office has the most employees?

In [5]:
c.execute('SELECT COUNT(*) FROM customers where customerNumber = "141";').fetchall()
# c.execute('SELECT * FROM customers c where c.CustomerName = "Kelly\'s Gift Shop"').fetchall()

[(1,)]

In [6]:
# Your code here
c.execute('SELECT c.customerName, o.customerNumber, COUNT(o.orderNumber) FROM orders o INNER JOIN customers c ON c.CustomerNumber = CAST(o.CustomerNumber AS INT) GROUP BY o.customerNumber ORDER BY 3 DESC LIMIT 10;').fetchall()

[('Euro+ Shopping Channel', '141', 26),
 ('Mini Gifts Distributors Ltd.', '124', 17),
 ('Australian Collectors, Co.', '114', 5),
 ('Danish Wholesale Imports', '145', 5),
 ('Dragon Souveniers, Ltd.', '148', 5),
 ('Down Under Souveniers, Inc', '323', 5),
 ('Reims Collectables', '353', 5),
 ('La Rochelle Gifts', '119', 4),
 ('Baane Mini Imports', '121', 4),
 ('Blauer See Auto, Co.', '128', 4)]

In [7]:
# Your code here
c.execute('SELECT c.customerName, CAST(p.customerNumber AS INT), round(Sum(p.amount), 2) FROM payments p INNER JOIN customers c ON CAST(c.customerNumber AS INT) = CAST(p.customerNumber as INT) GROUP BY CAST(p.customerNumber as INT) ORDER BY 3 DESC LIMIT 5;').fetchall()

[('Euro+ Shopping Channel', 141, 715738.98),
 ('Mini Gifts Distributors Ltd.', 124, 584188.24),
 ('Australian Collectors, Co.', 114, 180585.07),
 ('Muscle Machine Inc', 151, 177913.95),
 ('Dragon Souveniers, Ltd.', 148, 156251.03)]

In [8]:
# Your code here
c.execute('SELECT o.City, count(e.EmployeeNumber) FROM offices o INNER JOIN employees e on cast(o.officeCode AS INT) = cast(e.officeCode AS INT) GROUP BY o.officeCode ORDER BY 2 DESC;').fetchall()

[('San Francisco', 6),
 ('Paris', 5),
 ('Sydney', 4),
 ('Boston', 2),
 ('NYC', 2),
 ('Tokyo', 2),
 ('London', 2)]

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here
c.execute()

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!